html,
body {
  font-family: "Bricolage Grotesque", "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  color: #333333;
}

.loveInactive:hover {
  color: #fff3ff;
}

.loveInactive {
  color: #a29d9a
}

.loveActive {
  color: #ff0400;
}